<div class="footer_bottom container">
	<footer class="footer">
		<big>
			This is a demo app designed by Jithesh.k
		</big>
		<nav>
			<ul>
				<li>
					<%= link_to "About", "#" %> 
				</li>
			</ul>
		</nav>
	</footer>
</div>